@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

body {
    background-color: #2b2d42; 
    background-image: 
        radial-gradient(rgba(255, 255, 255, 0.8) 20%, rgba(255, 255, 255, 0) 50%), 
        linear-gradient(135deg ,rgba(39, 60, 117, 0.5) 50%,  rgba(98, 183, 221, 0.5) 100%);               
    background-size: cover; 
    
    color: #636363;
}